*{
    font-family: 'Tiro Devanagari Hindi', serif;  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: #697060;
}

.inicio{
    display: flex;
    justify-content: right;
    align-items: right;
    color: #F2D680;
    margin-right: 10px;
    margin-bottom: 5px;
}

a{
    text-decoration: none;
    color: #F2D680;
}

.form-login {
    width: 400px;
    height: 340px;
    background: #EB9C4D;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #697060;
    padding: 20px 30px;
    border-top: 4px solid #F3FFCF;
    color: #252323;
  }
  
  .form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
  
  .controls {
    width: 100%;
    border: 1px solid #252323;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #F3FFCF;
    font-size: 14px;
    font-weight: bold;
  }
  
  .buttons {
    width: 100%;
    height: 40px;
    background: #F3FFCF;
    border: none;
    color: #252323;
    margin-bottom: 16px;
  }
  
  .form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  .form-login a {
    color: #252323;
    text-decoration: none;
    font-size: 14px;
  }
  
  .form-login a:hover {
    text-decoration: underline;
  }