*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tiro Devanagari Hindi', serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #697060;
}

h2{
    position: relative;
    font-size: 14vw;
    color: #697060;
    -webkit-text-stroke: 0.3vw #BAC9A9;
}

h2::before{
    content:attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #F2D680;
    -webkit-text-stroke: 0vw #BAC9A9;
    border-right: 2px solid #F2D680;
    overflow: hidden;
    animation: animate 6s linear infinite;
}


@keyframes animate
{
    0%,10%,100%
{
    width: 0;
}
    70%,90%
{
    width:100%;
}
}

a{
    text-decoration: none;
}
